.tfidf{
    padding: 2px;
}

.tfidf-0 {
    padding: 0px;
}

.tfidf-1{
    background-color: #D9F4FC;
}

.tfidf-2{
    background-color: #B4E9F9;
}

.tfidf-3{
    background-color: #8FDEF6;
}

.tfidf-4{
    background-color: #6AD3F4;
}

.tfidf-5{
    background-color: #58CDF2;
}

.tfidf-6{
    background-color: #45C8F1;
}

.tfidf-7{
    background-color: #33C3F0;
}




